<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>blog</title>
	 <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./css/blog.css">
    <script type="text/javascript" src="./js/jquery-3.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
</head>
<body>
<div id="app">
	 <div class="csn-bar clearfix">
	     <div class=" left-one bar-left">
	         <div class="photo"><img src="./image/a.png"></div>
	         <div class="logo"></div>
	     </div>
	     <div class="right-one right">
	         <div class="search">
	             <a href="javascript: void(0)">
	                 <img src="./image/c.png">
	                 <a href="./login.html"><span class="delv">登录</span></a>
	             </a>
	         </div>
	     </div>
  	 </div>
  	 <div class="nav"> 
         <div class="list">
             <a class="active" href="javascript: void(0)" v-for="itema in catedata">{{ itema.classify_name }}</a>
             <a class="active" href="javascript: void(0)">最新文章</a>
             <a  class="active" href="javascript: void(0)">关注</a>
             <a class="active" href="javascript: void(0)">咨询</a>
             <a class="active" href="javascript: void(0)">人工智能</a>
             <a class="active" href="javascript: void(0)">云计算</a>
         </div>
  	 </div>
  	<div class="midden"> 
         <a class="good" href="javascript: void(0)"><img src="./image/tu.jpg"></a>
		<div class="bottom">
		  	 <div class="feed-list">
		  	     <div class="list1" v-for="item in list">
			  	     <h2><a :href="'./info.html?id='+item.id+''">{{ item.title  }}</a></h2>
			  	     <div class="list2">
			  	         <span class="first">{{ item.classify_name }}</span>
			  	         <span class="second">{{ item.author_name }}</span>
			  	         <span class="three">{{ item.read_num }}</span>
			  	         <span class="four">{{ item.data }}</span>
			  	     </div>
		  	     </div>
		  	 </div>
		</div>
		<!-- <div class="bottom">
		  	 <div class="feed-list">
		  	     <div class="list1"> 
			  	     <h2>视频 | 6分钟了解人工智能与机器学习</h2>
			  	     <div class="list2">
			  	         <span class="first">前端</span>
			  	         <span class="second">机器学习算法与Python学习</span>
			  	         <span class="three">135阅读</span>
			  	         <span class="four">03月02</span>
			  	     </div>
		  	     </div>
		  	 </div>
		</div> -->
    </div>
</div>
</body>
     <script src="./js/blog.js"></script>
</html>